li::marker{color: #8a7a67;}

.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}

.clearfix:after {clear:both;}

hr{margin: 50px 0 50px 0;}

/* 메뉴항목 */


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(../images/artist_top.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}






/* 카테고리버튼 */

a{
  text-decoration: none;
  color: white;
}



/* 영역 시작 */

#m_intro{
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

#m_intro h2{
  font-family: 'gmarketsansmedium';
  font-size: 35px;
}

#m_intro p{
  margin-bottom: 30px;
  padding: 15px 0;
}

#m_intro .search{
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#m_intro .search input{
  width: 650px;
  border: 3px solid #3d3326;
  font-size: 18px;
  font-family: 'gmarketsanslight';
  border-radius: none;
}

.filter{
  margin: auto;
  height: 50px;
  border: 1px solid #ccc;
  background: #eee;
  width: 1200px;
  margin-top: 30px;
}

.filter .filterbox{
  margin: auto;
  width: 1100px;
  height: 30px;
  margin-top: 10px;
}

.filter p{
  width: calc(1100px - 950px);
  float: left;
  padding: 3px;
}


.filter ul{
  float: left;
  width: 900px;
  height: 30px;
}

.filter ul li{
  float: left;
  padding: 5px;
}

.filter ul li a{
  display: block;
  text-decoration: none;
  color: #000;
  width: 50px;
  text-align: center;
}




#m_intro .search button{
  text-indent: -9999px;
  width: 50px;
  background: url(../images/search_btn.jpg) no-repeat center;
  border: none;
  cursor: pointer;
}

/* 작가페이지 */
#artist{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

#artist .line01, .line02, .line03, .line07, .line09, .line10, .line12  
, .line14, .line15{ width: 1200px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#artist .line04, .line06, .line08, .line11, .line13{
  display: flex;
}


#artist .line01 .no1, .no2 , .no3, .no4{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line02 .no5, .no6 , .no7, .no8{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line03 .no9, .no10 , .no11, .no12{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line04 .no13, .no14{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px 15px 5px 5px;
}

#artist .line05 .no15{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px 15px 5px 5px;
}

#artist .line06 .no16, .no17, .no18{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px 15px 5px 5px;
}

#artist .line07 .no19, .no20 , .no21, .no22{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line08 .no23, .no24, .no25{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px 15px 5px 5px;
}

#artist .line09 .no26, .no27, .no28, .no29{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line10 .no30, .no31, .no32, .no33, .no34, .no35, .no36, 
.no37, .no38, .no39, .no40, .no41{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line11 .no42{
  margin-left: 10px;
}

#artist .line11 .no42, .no43{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px 15px 5px 5px;
}

#artist .line12 .no44, .no45 , .no46, .no47{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line13 .no48, .no49, .no50{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px 15px 5px 5px;
}

#artist .line14 .no51, .no52 , .no53, .no54{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}

#artist .line15 .no55, .no56 , .no57, .no58{
  width: 280px;
  height: 163px;
  border: 1px solid #ccc;
  margin: 5px;
}



