li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  margin-top: 30px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 약관 폼 영역 */

#join{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}


.line .line_tap li{
  float: left;
  width: 238px;
  height: 30px;
}

.line .top li{
  background: url(/images/list_line.png) no-repeat;
  text-indent: -9999px;
}

.line .top .page2{
  background: url(/images/list_line_bold.png) no-repeat;
}


.line .bottom{
  clear: both;
  font-family: 'GmarketSansMedium';
}


.agebox{
  width: 1200px;
  height: 330px;
  margin: auto;
  margin-top: 100px;
  padding: 100px 0 100px 0;
  margin-bottom: 200px;
  border: 1px solid #ccc;
}

.agebox .age_title{
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.agebox .age_title h3{
  font-size: 25px;
  line-height: 40px;
}

.agebox .age_title p{
  font-size: 18px;
}

.agebox .overlap{
  width: 1200px;
  margin: auto;
}

.agebox .overlap table{
  width: 454px;
  margin: auto;
}

.agebox .overlap table tr td{
  height: 60px;
  vertical-align: middle;
}


.agebox .overlap table tr .form_box input{
  width: 374px;
  height: 40px;
  font-family: 'GmarketSanslight';
  font-size: 18px;
  float: right;
}

.agebox .overlap .overlap_btn{
  width: 454px;
  margin: auto;
}

.agebox .overlap .overlap_btn button{
  width: 454px;
  height: 65px;
  background-color: #3d3326;
  font-size: 25px;
  color: white;
  border: none;
  margin-top: 20px;
}

.agebox .overlap .overlap_btn button a{
  text-decoration: none;
  color: white;
  display: block;
  height: 60px;
  line-height: 60px;
}

