li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}



/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}



/* quickbar 시작 */
#quickbar{
  position: fixed;
  float: right;
  right: 0;
  top: 200px;
  z-index: 9999;
}


/* 가입 폼 영역 */
#join{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}


.line .line_tap li{
  float: left;
  width: 238px;
  height: 30px;
}

.line .top li{
  background: url(/images/list_line.png) no-repeat;
  text-indent: -9999px;
}

.line .top .page5{
  background: url(/images/list_line_bold.png) no-repeat;
}


.line .bottom{
  clear: both;
  font-family: 'GmarketSansMedium';
}

.agebox{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 100px 0 100px 0;
  margin-bottom: 200px;
  border: 1px solid #ccc;
}

.agebox .leeum{
  width: 297px;
  margin: auto;
}
.agebox .finish_text{
  margin-top: 30px;
}

.agebox .finish_text h3, p{
  text-align: center;
}

.agebox .finish_text h3{
  line-height: 30px;
}

.agebox .finish_text p{
  font-size: 18px;
}

.agebox .return{
  width: 750px;
  margin: auto;
  margin-top: 80px;
}

.agebox .return button{
  width: 360px;
  height: 65px;
  font-size: 25px;
  background: #3d3326;
  border: none;
}

.agebox .return button a{
  text-decoration: none;
  color: white;
  display: block;
  line-height: 60px;
  height: 60px;
}



