

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}

main #login_bg{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  border: 1px solid #ccc;
}

#login_page{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
}

#login_page form legend{
  text-indent: -9999px;
}

#login_page .logInlogo{
  text-align: center;
}

#login_page .logInform{
  width: 530px;
  height: 600px;
  margin: auto;
  margin-top: 30px;
}

#login_page .logInform tr{
  height: 80px;
}

#login_page .logInform tr td{
  width: 530px;
  vertical-align: middle;
  text-align: center;
}

#login_page .logInform tr td span{
  vertical-align: middle;
}

#login_page .logInform tr td input{
  width: 470px;
  height: 50px;
  float: right;
  font-size: 18px;
  font-family: 'Gmarketsanslight';
}

#login_page .logInform .main_btn{
  width: 530px;
  height: 65px;
  background-color: #3d3326;
  font-size: 25px;
  border: none;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}

#login_page .logInform .forget button{
  width: calc(515px / 2);
  height: 50px;
  float: left;
  margin: 20px 0 0 0;
  background-color: #8a7a67;
  color: white;
  border: none;
  font-size: 18px;
  font-family: 'Gmarketsanslight';
  cursor: pointer;
}

#login_page .logInform .forget .right{
  float: right;
}

#login_page .sns_login{
  width: 530px;
  margin: auto;
  position: relative;
  bottom: 200px;
}

#login_page .sns_login button{
  width: 530px;
  height: 50px;
  margin: 20px 0 0 0;
  cursor: pointer;
}

#login_page .sns_login .naver{
  background-color: #03cf5d;
  border: none;
  font-size: 18px;
  font-family: 'Gmarketsansmedium';
  color: white;
}

#login_page .sns_login .kakao{
  background-color: #fae301;
  border: none;
  font-size: 18px;
  font-family: 'Gmarketsansmedium';
  color: #391b1b;
}

#login_page .sns_login .google{
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 18px;
  font-family: 'Gmarketsansmedium';
  color: #391b1b;
}

#login_page .join{
  width: 530px;
  position: relative;
  bottom: 150px;
  margin: auto;
  text-align: center;
}

#login_page .join button{
  width: 126px;
  height: 30px;
  font-size: 18px;
  border: none;
  background-color: #3d3326;
  color: #fff;
}

#login_page .join button a{
  text-decoration: none;
  color:white;
  display: block;
}






 
