li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}



/* quickbar 시작 */
#quickbar{
  position: fixed;
  float: right;
  right: 0;
  top: 200px;
  z-index: 9999;
}


/* 약관 폼 영역 */
#join{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}


.line .line_tap li{
  float: left;
  width: 238px;
  height: 30px;
}

.line .top li{
  background: url(/images/list_line.png) no-repeat;
  text-indent: -9999px;
}

.line .top .page3{
  background: url(/images/list_line_bold.png) no-repeat;
}


.line .bottom{
  clear: both;
  font-family: 'GmarketSansMedium';
}

.agebox{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 100px 0 100px 0;
  margin-bottom: 200px;
  border: 1px solid #ccc;
}

.agebox .terms_title{
  text-align: center;
  font-size: 30px;
}

.agebox .terms_box{
  width: 1050px;
  height: 513px;
  margin: auto;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-top: 80px;
  overflow-y: scroll;
  padding: 15px;
}

.agebox .terms_box .terms_one .terms_one_t{
  font-size: 25px;
  font-weight: bold;
  
}

.agebox .terms_box .terms_one .terms_one_box_clip{
  margin-top: 30px;
  line-height: 20px;
}

.agebox .terms_box .terms_one .terms_one_box_clip span{
  font-size: 20px;
  font-weight: bold;
}

.agebox .terms_check{
  width: 1080px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.agebox .terms_check input{
  float: left;
  border-radius: none;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
}

.allcheck{
  width: 1100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.next_btn{
  width: 1100px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.next_btn button{
  width: 365px;
  height: 65px;
  background-color: #3d3326;
  border: none;
  font-size: 25px;
  font-family: 'GmarketSansMedium';
}

.next_btn button a{
  text-decoration: none;
  color: white;
  display: block;
  width: 355px;
  height: 60px;
  line-height: 65px;
}




