body{
  font-size: 20px;
}


li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

/* 메뉴항목 */

header{
  width: 100%;
  height: 120px;
  background-color: #000;
}

header h2{text-indent: -999px;}

header nav{
  width: 1200px;
  height: 100%;
  margin: auto;
  color: white;
}

header nav ul{
  display: flex;
  justify-content: flex-end;
}

header nav ul li{
  display: flex;
  justify-content: center;
  width: calc(1000px / 7);
  line-height: 60px;
  text-align: center;
}

header nav #logo{
  float: left;
  margin-top: 40px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  height: 120px;
  background: #fff;
  color: #000;
  transition:  0.3s ease 0s, left 0.3s ease 0s;
  padding: 10px;
  font-family: 'GmarketSansMedium';
  height: 30px;
  line-height: 35px;
}


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/old_top.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* quick 키워드 */

#quickbar{
  font-size: 18px;
  position: fixed;
  right: 0;
  top: 300px;
  z-index: 9998;
  float: right;
}

#quickbar .quickright{
  float: right;
  width: 80px;
  height: 400px;
}

#quickbar .quickright ul li{
  text-indent: -9999px;
  height: 90px;
}

#quickbar .quickright ul li a{
  display: block;
  height: 90px;
}

#quickbar .quickright ul .bar5 a{
  height: 40px;
}

#quickbar .quickright ul .bar1{
  background-image: url(/images/quick_01.jpg);
}

#quickbar .quickright ul .bar1:hover{
  background-image: url(/images/hover_01.jpg);
  transition: 0.3s;
}

#quickbar .quickright ul .bar2{
  background-image: url(/images/quick_02.jpg);
}

#quickbar .quickright ul .bar2:hover{
  background-image: url(/images/hover_02.jpg);
  transition: 0.3s;
}

#quickbar .quickright ul .bar3{
  background-image: url(/images/quick_03.jpg);
}

#quickbar .quickright ul .bar3:hover{
  background-image: url(/images/hover_03.jpg);
  transition: 0.3s;
}

#quickbar .quickright ul .bar4{
  background-image: url(/images/quick_04.jpg);
}

#quickbar .quickright ul .bar4:hover{
  background-image: url(/images/hover_04.jpg);
  transition: 0.3s;
}


#quickbar .quickright ul .bar5{
  background: url(/images/quick_05.jpg) no-repeat;
  height: 40px;
}

/* quick 로그인 항목*/
#quickbar .quick_log{
  height: 400px;
  width: 370px;
  border: 1px solid #ccc;
  position: absolute;
  right: 80px;
  background-color: #fff;
}

#quickbar .quick_log .quick_title{
  text-align: center;
  margin-top: 50px;
}

#quickbar .quick_log .quick_title h3{
  font-size: 40px;
}

#quickbar .quick_log .quick_title p{
  font-size: 15px;
  line-height: 30px;
}

#quickbar .quick_log .quick_form table{
  width: 275px;
  margin: auto;
}

#quickbar .quick_log .quick_form table tr td{
  height: 40px;
  vertical-align: middle;
}


#quickbar .quick_log .quick_form table tr td input{
  height: 30px;
  width: 209px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: 'GmarketSanslight';
}

#quickbar .quick_log .quick_btn{
  width: 275px;
  margin: auto;
}

#quickbar .quick_log .quick_btn .lockon{
  width: 275px;
  height: 45px;
  margin-top: 15px;
  background-color: #3d3326;
  border: none;
  font-family: 'GmarketSansMedium';
  font-size: 18px;
  color: white;
}

#quickbar .quick_log .quick_btn .forget{
  width: calc(268px / 2);
  height: 30px;
  margin-top: 10px;
  background: #8a7a67;
  border: none;
  color: white;
  font-family: 'GmarketSanslight';
}

#quickbar .quick_log .joinmember{
  width: 275px;
  margin-top: 50px;
  margin: auto;
}

#quickbar .quick_log .joinmember table{
  margin-top: 10px;
}


#quickbar .quick_log .joinmember table tr td{
  vertical-align: middle;
}

#quickbar .quick_log .joinmember table tr td button{
  background: #3d3326;
  float: right;
  border: none;
}

#quickbar .quick_log .joinmember table tr td button a{
  color: white;
  text-decoration: none;
}

/* 메인 css 시작 */

/* 카테고리버튼 */

a{
  text-decoration: none;
  color: white;
}


.menu_wrap{
  margin: auto;
  width: 1200px;
  margin-top: 100px;
}

.menu_wrap .dep1{
  font-size: 0;
}

.menu_wrap .dep1 > li{
  display: inline-block;
  width: calc(1200px / 4);
  background-color: #141414;
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
}

.menu_wrap .dep1 > li > a{
  display: block;
  border-left: 1px solid white;
  padding: 15px 0;
}

.menu_wrap .dep1 > li > a:hover{
  background-color: wheat;
  color: #000;
  font-family: 'GmarketsansMedium';
  transition: 0.3s;
}


.menu_wrap .dep1 > li:hover > .dep2{
  display: block;
}

.menu_wrap .dep2{
  display: none;
  background-color: #8a7a67;
}


.menu_wrap .dep2 a{
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid rgba(61, 51, 38, 0.5);
} 

.menu_wrap .dep2 a:hover{
  background-color: #3d3326;
  transition: 0.3s;
}






#m_intro{
  clear: both;
  width: 1200px;
  margin: auto;
  padding-top: 100px;
}

#f1, #f2, #f3, #f4{
  width: 1200px;
  margin: auto;
}

#f4{
  margin-bottom: 150px;
}

#f1, #f2, #f3, #f4 p{
  line-height: 25px;
}

/* 뉴스레터구독 */
#Subscribe{
  z-index: -9999px;
  width: 1200px;
  height: 245px;
  margin: auto;
  position: relative;
  bottom: 50px;
  margin-bottom: 200px;
  background: #141414;
  clear: both;
}

.subc_text{
  color: white;
  height: 140px;
  z-index: 9999;
  padding: 50px 0px 50px 50px;
  float: left;
}

.subc_text h3{
  font-size: 50px;
  color: #bfa37b;
}

.subc_text ul li{
  font-size: 15px;
  line-height: 25px;
}

.subc_form{
  width: 500px;
  height: 140px;
  float: right;
  padding: 50px 50px 50px 0px;
}

.subc_form .email_form input{
  width: 489px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 10px;
}

.subc_form .news_btn{
  width: 246px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 15px;
  border: none;
  background: #8a7a67;
}

.subc_form .news_btn:hover{
  background: #3d3326;
}

.subc_form .news_btn a{
  text-decoration: none;
  color: white;
  display: block;
  width: 246px;
  line-height: 35px;
  height: 40px;
}

.subc_form label input{
  width: 15px;
  height: 15px;
  float: left;
  border: none;
  margin-right: 15px;
}

.subc_form label p{
  line-height: 25px;
  font-size: 15px;
  color: white;
}

/* footer */

.footer{
  background:#8a7a67;
  color:#fff;
  width:100%;
  height: 226px;
  display: flex;
  justify-content: center;
  z-index: -50;
}
.footer a{
  color:#fff
}

.footer_top{
  height: 80px;
  width: 100%;
  position:relative;
  background-color: #141414;
  bottom: 80px;
}

.footer h2{
  text-indent:-9999px;
}

.footer .hide{
  text-indent:-9999px;
}

.footer_top .term{
  width: 1200px;
  margin: auto;
}

.footer_top .term ul{
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.footer_top .term ul li{
  margin: 1rem;
  text-align: center;
  text-align: center;
  float: left;
}

.footer_top .term ul li a{
  text-decoration: none;
}

.footer_top .term ul li a:hover{
  font-family: 'GmarketsansMedium';
}

.footer_b_box{
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.family_site{
  clear: both;
  width: 230px;
  background-color: white;
  float: right;
  position: relative;
}

.family_site h3{
  width: 190px;
  height: 40px;
  color: #000;
  font-size: 18px;
  font-family: 'GmarketsansMedium';
  padding: 10px;
  background: url(/images/drop.png) no-repeat;
  background-position: right;
  line-height: 40px;
}

.family_site ul{
  position: absolute;
  overflow: hidden;
  width: 230px;
  box-sizing: border-box;
}

.family_site ul li{
  line-height: 25px;
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
}


.family_site ul li a{
  color: #000;
  text-decoration: none;
}

.footer_bottom{
  width: 1200px;
  margin: auto;
}

.footer_b_bot{
  width: 174px;
  height: 130px;
  background: url(/images/lee_logo_w.svg) no-repeat;
  opacity: 0.5;
  float: left;
  margin: 0 40px 0 0;
}

.footer_bottom address{
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
}

.footer_bottom p{
  font-size: 15px;
  line-height: 20px;
}



