

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

/* 메뉴항목 */

header{
  width: 100%;
  height: 120px;
  background-color: #000;
}

header h2{text-indent: -999px;}

header nav{
  width: 1200px;
  height: 100%;
  margin: auto;
  color: white;
}

header nav ul{
  display: flex;
  justify-content: flex-end;
}

header nav ul li{
  display: flex;
  justify-content: center;
  width: calc(1000px / 7);
  line-height: 60px;
  text-align: center;
}

header nav #logo{
  float: left;
  margin-top: 40px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  height: 120px;
  background: #fff;
  color: #000;
  transition:  0.3s ease 0s, left 0.3s ease 0s;
  padding: 10px;
  font-family: 'GmarketSansMedium';
  height: 30px;
  line-height: 35px;
}


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/mainevent_top.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}




/* quickbar 시작 */
#quickbar{
  position: fixed;
  float: right;
  right: 0;
  top: 200px;
  z-index: 9999;
}

/* quick 키워드 */
#quickbar .quickbtn{
  float: right;
}

#quickbar .quickbtn ul li button{
  width: 80px;
  height: 90px;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}

#quickbar .quickbtn ul li a{
  width: 80px;
  height: 90px;
}

#quickbar .quickbtn ul li .b01{
  background-image: url(/images/quick_01.jpg);
}

#quickbar .quickbtn ul li .b02{
  background-image: url(/images/quick_02.jpg);
}

#quickbar .quickbtn ul li .b03{
  background-image: url(/images/quick_03.jpg);
}

#quickbar .quickbtn ul li .b04{
  background-image: url(/images/quick_04.jpg);
}

#quickbar .quickbtn ul li .top{
  height: 41px;
  border: none;
  background: url(/images/quick_05.jpg);
}

/* quickform 시작 */
#quickbar .quickform{
  width: 372px;
  height: 400px;
  background: #fff;
  margin-right: 80px;
  border: 1px solid #ccc;
}

#quickbar .quickform h3{
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
}

#quickbar .quickform p{
  font-size: 15px;
  text-align: center;
}

#quickbar .quickform form{
  width: 300px;
  margin: auto;
}

#quickbar .quickform form fieldset legend{
  text-indent: -9999px;
}

#quickbar .quickform form fieldset table{
  width: 300px;
}

#quickbar .quickform form fieldset table td{
  height: 30px;
  padding: 5px 0;
  vertical-align: middle;
}


#quickbar .quickform form fieldset table td input{
  width: 240px;
  height: 25px;
  float: right;;
}

#quickbar .quickform form fieldset .mainbtn{
  width: 300px;
  height: 40px;
  margin: 10px 0 0 0;
  background: #3d3326;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

#quickbar .quickform form fieldset .forget1, .forget2{
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  background-color: #8a7a67;
  border: none;
  font-size: 15px;
  font-family: 'gmarketsanslight';
  color: white;
}

#quickbar .quickform form fieldset .forget1{
  float: left;
}
#quickbar .quickform form fieldset p{
  margin-top: 20px
}

#quickbar .quickform form fieldset p button{
  width: 100px;
  background: #8a7a67;
  border:none;
  color: white;
}

#quickbar .quickform form fieldset p button a{
  text-decoration: none;
  color: white;
}


#quickbar .quickform form fieldset .forget2{
  float: right;
}

/* 카테고리버튼 */

a{
  text-decoration: none;
  color: white;
}


.menu_wrap{
  margin: auto;
  width: 1200px;
  margin-top: 100px;
}

.menu_wrap .dep1{
  font-size: 0;
}

.menu_wrap .dep1 > li{
  display: inline-block;
  width: calc(1200px / 4);
  background-color: #141414;
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
}

.menu_wrap .dep1 > li > a{
  display: block;
  border-left: 1px solid white;
  padding: 15px 0;
}

.menu_wrap .dep1 > li > a:hover{
  background-color: wheat;
  color: #000;
  font-family: 'GmarketsansMedium';
  transition: 0.3s;
}

.menu_wrap .dep1 > li:hover > .dep2{
  display: block;
}

.menu_wrap .dep2{
  display: none;
  background-color: #8a7a67;
}


.menu_wrap .dep2 a{
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid rgba(61, 51, 38, 0.5);
} 

.menu_wrap .dep2 a:hover{
  background-color: #3d3326;
  transition: 0.3s;
}


#m_intro{
  clear: both;
  width: 1200px;
  margin: auto;
  padding-top: 100px;
}

#f1{
  width: 1200px;
  margin: auto;
  margin-bottom: 150px;
}

#f1 p{
  line-height: 25px;
}

#f1 .human_info{
  width: 1200px;
}

#f1 .human_info tbody tr .info_title{
  width: 150px;
}


#f1 table tr td{
  padding: 15px 0;
  line-height: 25px;
}

/* 뉴스레터구독 */
#Subscribe{
  z-index: -9999px;
  width: 1200px;
  height: 245px;
  margin: auto;
  position: relative;
  bottom: 50px;
  margin-bottom: 200px;
  background: #141414;
  clear: both;
}

.subc_text{
  color: white;
  height: 140px;
  z-index: 9999;
  padding: 50px 0px 50px 50px;
  float: left;
}

.subc_text h3{
  font-size: 50px;
  color: #bfa37b;
}

.subc_text ul li{
  font-size: 15px;
  line-height: 25px;
}

.subc_form{
  width: 500px;
  height: 140px;
  float: right;
  padding: 50px 50px 50px 0px;
}

.subc_form .email_form input{
  width: 489px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 10px;
}

.subc_form .news_btn{
  width: 246px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 15px;
  border: none;
  background: #8a7a67;
}

.subc_form .news_btn:hover{
  background: #3d3326;
}

.subc_form .news_btn a{
  text-decoration: none;
  color: white;
  display: block;
  width: 246px;
  line-height: 35px;
  height: 40px;
}

.subc_form label input{
  width: 15px;
  height: 15px;
  float: left;
  border: none;
  margin-right: 15px;
}

.subc_form label p{
  line-height: 25px;
  font-size: 15px;
  color: white;
}



/* footer */
footer{
  width: 100%;
  height: 220px;
  background: #8a7a67;
}

footer .footer_top{
  background: #141414;
  height: 60px;
  position: relative;
}

footer .footer_top h3, .footer_terms{
  text-indent: -9999px;
}

footer .footer_top .sub_top{
  width: 605px;
  position: relative;
  margin: auto;
  bottom: 25px;
}

footer .footer_top .sub_top li{
  float: left;
  margin-right: 20px;
  font-size: 18px;
}

footer .footer_top .sub_top li a{
  color: white;
  text-decoration: none;
}

footer .footer_top .sub_top li a:hover{
  font-weight: bold;
}

footer .footer_bottom{
  clear: both;
  width: 1200px;
  height: 65px;
  margin: auto;
  padding: 30px;
}

footer .footer_bottom .foot_logo{
  float: left;
  background: url(/images/lee_logo_w.svg) no-repeat;
  background-size: contain;
  width: 160px;
  height: 60px;
  opacity: 0.5;
  text-indent: -9999px;
}

footer .footer_bottom .leeum_add{
  float: left;
  width: 750px;
  padding-left: 20px;
  font-size: 15px;
  margin-left: 35px;
  line-height: 25px;
  color: #fff;
}

footer .footer_bottom .leeum_add .copyright{
  font-size: 15px;
}


footer .footer_bottom .sitelink h3{
  font-size: 18px;
  float: right;
  width: 160px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  right: 360px;
}

footer .footer_bottom .sitelink .site_list ul{
  width: 160px;
  float: right;
  position: relative;
  right: 9px;
  bottom: 60px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

footer .footer_bottom .sitelink .site_list ul li{
  font-size: 15px;
  line-height: 20px;
}

footer .footer_bottom .sitelink .site_list ul li a{
  color: #000;
  text-decoration: none;
}
