
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}




/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/map_title.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 지도영역 */
#map{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
}

#map .map_text{
  margin-bottom: 20px;
}

#map .map_text table{
  width: 600px;
  height: 50px;
}

#map .map_text tr{
  width: 600px;
}

#map .map_text tr td{
  vertical-align: middle;
}

#map .map_text tr .main_text{
  font-size: 30px;
  font-family: 'GmarketSansMedium';
  width: 125px;
}

#map .map_text tr .icon{
  background: url(/images/icon/pin.svg) no-repeat;
  width: 30px;
  text-indent: -9999px;
}

.infomation{
  width: 1200px;
  margin-top: 50px;
}

.infomation table{
  vertical-align: middle;
}

.infomation table tr{
  height: 50px;
  line-height: 30px;
}

.infomation table tr td{
  vertical-align: middle;
}

.infomation table tr .table_box{
  width: 180px;
  font-family: 'GmarketSansMedium';
}

.infomation table tr .table_box img{
  width: 20px;
}

/* 로비 */
#lobi{
  width: 1200px;
  margin: auto;
  margin-top: 100px;
}

#lobi .lobi_text{
  margin-bottom: 20px;
}

#lobi .lobi_text table{
  width: 600px;
  height: 50px;
}

#lobi .lobi_text tr td{
  vertical-align: middle;
}

#lobi .lobi_text tr .main_text{
  font-size: 30px;
  font-family: 'GmarketSansMedium';
  width: 160px;
}

#lobi .lobi_text tr .eng_text{
  vertical-align: bottom;
}

#lobi .lobi_text tr .icon{
  background: url(/images/icon/map.svg) no-repeat;
  width: 30px;
  text-indent: -9999px;
}

/* 주차장 */
#parking{
  width: 1200px;
  margin: auto;
  margin-top: 100px;
}


#parking .park_text{
  margin-bottom: 20px;
}

#parking .park_text table{
  width: 600px;
  height: 50px;
}

#parking .park_text tr td{
  vertical-align: middle;
}

#parking .park_text tr .parking_text{
  font-size: 30px;
  font-family: 'GmarketSansMedium';
  width: 160px;
}

#parking .park_text tr .eng_text{
  vertical-align: bottom;
}

#parking .park_text tr .icon{
  background: url(/images/icon/parking.svg) no-repeat;
  width: 15px;
  text-indent: -9999px;
}

#parking .parking_info{
  width: 1200px;
  height: 200px;
  margin: 50px 0 150px 0;
  line-height: 30px;
}

