
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}




/* 메인이미지 영역 */
#title{
  margin-top: 30px;
  width: 100%;
  background: url(/images/map_title.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 지도영역 */
#map{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
}

#map .map_text{
  margin-bottom: 20px;
}

#map .map_text table{
  width: 600px;
  height: 50px;
}

#map .map_text tr{
  width: 600px;
}

#map .map_text tr td{
  vertical-align: middle;
}

#map .map_text tr .main_text{
  font-size: 30px;
  font-family: 'GmarketSansMedium';
  width: 125px;
}

#map .map_text tr .icon{
  background: url(/images/icon/pin.svg) no-repeat;
  width: 30px;
  text-indent: -9999px;
}

.infomation{
  width: 1200px;
  margin-top: 50px;
}

.infomation table{
  vertical-align: middle;
}

.infomation table tr{
  height: 50px;
  line-height: 30px;
}

.infomation table tr td{
  vertical-align: middle;
}

.infomation table tr .table_box{
  width: 180px;
  font-family: 'GmarketSansMedium';
}

.infomation table tr .table_box img{
  width: 20px;
}

/* 로비 */
#lobi{
  width: 1200px;
  margin: auto;
  margin-top: 100px;
}

#lobi .lobi_text{
  margin-bottom: 20px;
}

#lobi .lobi_text table{
  width: 600px;
  height: 50px;
}

#lobi .lobi_text tr td{
  vertical-align: middle;
}

#lobi .lobi_text tr .main_text{
  font-size: 30px;
  font-family: 'GmarketSansMedium';
  width: 160px;
}

#lobi .lobi_text tr .eng_text{
  vertical-align: bottom;
}

#lobi .lobi_text tr .icon{
  background: url(/images/icon/map.svg) no-repeat;
  width: 30px;
  text-indent: -9999px;
}

/* 주차장 */
#parking{
  width: 1200px;
  margin: auto;
  margin-top: 100px;
}


#parking .park_text{
  margin-bottom: 20px;
}

#parking .park_text table{
  width: 600px;
  height: 50px;
}

#parking .park_text tr td{
  vertical-align: middle;
}

#parking .park_text tr .parking_text{
  font-size: 30px;
  font-family: 'GmarketSansMedium';
  width: 160px;
}

#parking .park_text tr .eng_text{
  vertical-align: bottom;
}

#parking .park_text tr .icon{
  background: url(/images/icon/parking.svg) no-repeat;
  width: 15px;
  text-indent: -9999px;
}

#parking .parking_info{
  width: 1200px;
  height: 200px;
  margin: 50px 0 150px 0;
  line-height: 30px;
}


/* 뉴스레터구독 */
#Subscribe{
  z-index: -9999px;
  width: 1200px;
  height: 245px;
  margin: auto;
  position: relative;
  bottom: 50px;
  margin-bottom: 200px;
  background: #141414;
}

.subc_text{
  color: white;
  height: 140px;
  z-index: 9999;
  padding: 50px 0px 50px 50px;
  float: left;
}

.subc_text h3{
  font-size: 50px;
  color: #bfa37b;
}

.subc_text ul li{
  font-size: 15px;
  line-height: 25px;
}

.subc_form{
  width: 500px;
  height: 140px;
  float: right;
  padding: 50px 50px 50px 0px;
}

.subc_form .email_form input{
  width: 489px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 10px;
}

.subc_form .news_btn{
  width: 246px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 15px;
  border: none;
  background: #8a7a67;
}

.subc_form .news_btn:hover{
  background: #3d3326;
}

.subc_form .news_btn a{
  text-decoration: none;
  color: white;
  display: block;
  width: 246px;
  line-height: 35px;
  height: 40px;
}

.subc_form label input{
  width: 15px;
  height: 15px;
  float: left;
  border: none;
  margin-right: 15px;
}

.subc_form label p{
  line-height: 25px;
  font-size: 15px;
  color: white;
}




/* footer */
footer{
  width: 100%;
  height: 220px;
  background: #8a7a67;
}

footer .footer_top{
  background: #141414;
  height: 60px;
  position: relative;
}

footer .footer_top h3, .footer_terms{
  text-indent: -9999px;
}

footer .footer_top .sub_top{
  width: 605px;
  position: relative;
  margin: auto;
  bottom: 25px;
}

footer .footer_top .sub_top li{
  float: left;
  margin-right: 20px;
  font-size: 18px;
}

footer .footer_top .sub_top li a{
  color: white;
  text-decoration: none;
}

footer .footer_top .sub_top li a:hover{
  font-weight: bold;
}

footer .footer_bottom{
  clear: both;
  width: 1200px;
  height: 65px;
  margin: auto;
  padding: 30px;
}

footer .footer_bottom .foot_logo{
  float: left;
  background: url(/images/lee_logo_w.svg) no-repeat;
  background-size: contain;
  width: 160px;
  height: 60px;
  opacity: 0.5;
  text-indent: -9999px;
}

footer .footer_bottom .leeum_add{
  float: left;
  width: 750px;
  padding-left: 20px;
  font-size: 15px;
  margin-left: 35px;
  line-height: 25px;
  color: #fff;
}

footer .footer_bottom .leeum_add .copyright{
  font-size: 15px;
}


footer .footer_bottom .sitelink h3{
  font-size: 18px;
  float: right;
  width: 160px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  right: 360px;
}

footer .footer_bottom .sitelink .site_list ul{
  width: 160px;
  float: right;
  position: relative;
  right: 9px;
  bottom: 60px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

footer .footer_bottom .sitelink .site_list ul li{
  font-size: 15px;
  line-height: 20px;
}

footer .footer_bottom .sitelink .site_list ul li a{
  color: #000;
  text-decoration: none;
}
