

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  margin-top: 30px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}



/* 가입 폼 영역 */
#join{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}

#categori{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
}

#categori ul li{
  float: left;
  width: 298px;
  height: 40px;
  background-color: #8a7a67;
  text-align: center;
  line-height: 42px;
  border-right: 1px solid white;
  font-weight: bold;
}

#categori ul li a{
  text-decoration: none;
  color: white;
  width: 299px;
  height: 38px;
  display: block;
}

#categori ul li a:hover{
  background-color: #3d3326;
  transition: 0.3s;
}

.agebox{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 100px 0 100px 0;
  margin-bottom: 200px;

}


.agebox .terms_title{
  text-align: center;
}

.agebox .terms_title h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.agebox .join_info{
  width: 900px;
  margin: auto;
}

.agebox .join_info table{
  margin: auto;
  margin-top: 50px;
}

.agebox .join_info table tr td{
  height: 100px;
  vertical-align: middle;
}
.agebox .join_info table tr td span{
  color: red;
  font-size: 15px;
}

.agebox .join_info table tr .join_text{
  width: calc(900px - 700px);
}

.agebox .join_info table tr .home input{
  margin-bottom: 0.7rem;
  font-size: 18px;
}

.agebox .join_info table tr .write{
  font-size: 15px;
}

.agebox .join_info table tr .write input{
  width: 450px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.agebox .join_info table tr td button{
  margin: 0 0 0 10px;
  width: 155px;
  height: 40px;
  background-color: #3d3326;
  color: white;
  border: none;
  font-size: 20px;
  font-family: 'GmarketSanslight';
}

.agebox .join_info table tr td .gender{
  width: calc(900px / 2 / 2);
  float: left;
}

.agebox .join_info table tr .phone input{
  width: 185px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.agebox .join_info table tr .adclick{
  font-size: 15px;
}

.next_btn{
  width: 1100px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.next_btn button{
  width: 365px;
  height: 65px;
  background-color: #3d3326;
  border: none;
  font-size: 25px;
  font-family: 'GmarketSansMedium';
}

.next_btn button a{
  text-decoration: none;
  color: white;
  display: block;
  width: 355px;
  height: 60px;
  line-height: 65px;
}












