li::marker{
  color: #8a7a67;
}

input{font-size: 18px;}

.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}



/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}

/* 메뉴 탭 */

a{
  text-decoration: none;
  color: white;
}


.menu_wrap{
  margin: auto;
  width: 1200px;
  margin-top: 100px;
}

.menu_wrap .dep1{
  font-size: 0;
}

.menu_wrap .dep1 > li{
  display: inline-block;
  width: calc(1200px / 3);
  background-color: #141414;
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
}

.menu_wrap .dep1 > li > a{
  display: block;
  border-left: 1px solid white;
  padding: 15px 0;
}

.menu_wrap .dep1 > li > a:hover{
  background-color: #8a7a67;
  color: rgb(255, 255, 255);
  font-family: 'GmarketsansMedium';
  transition: 0.3s;
}


.menu_wrap .dep1 > li:hover > .dep2{
  display: block;
}




/* 가입 폼 영역 */
#join{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}


.line .line_tap li{
  float: left;
  width: 238px;
  height: 30px;
}

.line .top li{
  background: url(/images/list_line.png) no-repeat;
  text-indent: -9999px;
}

.line .top .page4{
  background: url(/images/list_line_bold.png) no-repeat;
}


.line .bottom{
  clear: both;
  font-family: 'GmarketSansMedium';
}

.agebox{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 100px 0 100px 0;
  margin-bottom: 200px;
  border: 1px solid #ccc;
}


.agebox .terms_title{
  text-align: center;
}

.agebox .terms_title h3{
  font-size: 30px;
  margin-bottom: 20px;
}


.join form legend{
  text-indent: -9999px;
}

.join form fieldset div{
  width: 800px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
}

.join form fieldset div label{
  display: inline-block;
  width: 180px;
}

.join form fieldset div .uName, .uID, .pwd,
.birth, .repwd{
  width: 380px;
  height: 30px;
  border: 2px solid #ccc;
}

.join form fieldset div .idbtn{
  height: 35px;
  border: none;
  background: #1b1717;
  font-size: 18px;
  color: #fff;
}

.join form fieldset div .firstNum{
  width: 120px;
  height: 35px;
  border: 2px solid #ccc;
  font-size: 18px;
}

.join form fieldset div .middleNum, .lastNum, select{
  width: 120px;
  height: 30px;
  border: 2px solid #ccc;
}


.join form fieldset div .sido1, .gugun1, .emid, .emdm{
  width: 180px;
  height: 30px;
  border: 2px solid #ccc;
  font-size: 18px;
}

.join form fieldset div .emdmsel{
  width: 180px;
  height: 35px;
  border: 2px solid #ccc;
  font-size: 18px;
}

.join form fieldset div .detalicityD{
  width: 280px;
  height: 30px;
  border: 2px solid #ccc;
  font-size: 18px;
}


/* 가입폼 영역 */


.next_btn{
  width: 1100px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.next_btn button{
  width: 365px;
  height: 65px;
  background-color: #141414;
  border: none;
  font-size: 25px;
  font-family: 'GmarketSansMedium';
  cursor: pointer;
  color: white;
}

.next_btn button a{
  color: white;
  text-decoration: none;
  display: block;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


