

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

.interview_line{clear: both; border: 1px solid #8a7a67;}

/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/republic.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


#notice{
  width: 1200px;
  margin: auto;
  padding-top: 100px;
  clear: both;
  margin-bottom: 120px;
}


#notice .introbox table{
    width: 1200px;
    margin-top: 50px;
}

#notice .introbox table tr td{
    padding: 15px;
}

#notice .introbox table thead{
    background: #eee;
    font-weight: bold;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    text-align: center;
}

#notice .introbox table tbody tr td{
    border-bottom: 1px solid #ccc;
}

#notice .introbox table tbody .type, .upload{
    text-align: center;
}



#page{
    width: 250px;
    margin: auto;
  }
  
  #page ul{
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
  }

#page ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  #page ul li a{
    color: #000;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
  }
  
  #page ul li a:hover{
    background: #141414;
    color: #fff;
    transition: 0.2s;
  }
  
  
  