

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/place.jpg);
  background-size: cover;
  height: 328px;
  margin-top: 30px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 메인 css 시작 */

#place_box{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  font-size: 18px;
}

/* 리움샵 */

.shop{
  float: left;
  width: 580px;
  height: 100%;
}

.shop h3{
  background: url(/images/place01.jpg) no-repeat center;
  width: 580px;
  height: 350px;
  text-indent: -9999px;
}

.shop table{
  width: 580px;
}



.shop p{
  line-height: 25px;
  height: 100px;
}

.shop table tr .largetextshop{
  font-size: 30px;
  width: 100px;
  font-family: 'GmarketSansMedium';
}

.shop .info{
  width: 580px;
  height: 40px;
  margin-top: 20px;
}

.shop .info tr{
  width: 580px;
}

.shop .info td{
  vertical-align: middle;
}

.shop .info tr .btn{
  width: 200px;
}

.shop .info td button{
  width: 200px;
  float: right;
  height: 40px;
  background: #3d3326;
  color: white;
  border: none;
  font-size: 15px;
}

.shop .info td button a{
  color: white;
  text-decoration: none;
  display: block;
  width: 190px;
  height: 38px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.shop .info{
  width: 580px;
  margin-top: 20px;
}

.shop .info tr{
  width: 580px;
}

.shop .info td{
  vertical-align: middle;
}

.cafe{
  width: 580px;
  height: 100%;
  float: right;
}

.cafe h3{
 background: url(/images/place02.jpg) no-repeat center;
 width: 580px;
 height: 350px;
 text-indent: -9999px;
}

.cafe table{
  width: 580px;
}


.cafe p{
  line-height: 25px;
  height: 100px;
}

.cafe table tr .largetextcafe{
  font-size: 30px;
  width: 70px;
  font-family: 'GmarketSansMedium';
}

.cafe .info{
  margin-top: 20px;
  height: 40px;
}

.cafe .info td{
  vertical-align: middle;
}

.cafe .info td button{
  width: 200px;
  float: right;
  height: 40px;
  background: #3d3326;
  color: white;
  border: none;
  font-size: 15px;
}

.cafe .info td button a{
  color: white;
  text-decoration: none;
  display: block;
  width: 190px;
  height: 38px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.icon{
  width: 50px;
}

.order{
  width: 580px;
  height: 568px;
  float: left;
  clear: both;
  margin-top: 150px;
}

.order h3{
  background: url(/images/place03.jpg) no-repeat center;
  width: 580px;
  height: 350px;
  text-indent: -9999px;
}

.order table{
  width: 580px;
}


.order p{
  line-height: 25px;
  height: 100px;
}

.order table tr .largetextorder{
  font-size: 30px;
  width: 160px;
  font-family: 'GmarketSansMedium';
}



.locker{
  width: 580px;
  height: 100%;
  float: right;
  margin-top: 150px;
}

.locker h3{
  background: url(/images/place04.jpg) no-repeat center;
  width: 580px;
  height: 350px;
  text-indent: -9999px;
}

.locker table{
  width: 580px;
}



.locker p{
  line-height: 25px;
  height: 100px;
}

.locker table tr .largetextlocker{
  font-size: 30px;
  width: 220px;
  font-family: 'GmarketSansMedium';
}


.nursing{
  width: 580px;
  height: 100%;
  clear: both;
}


.nursing table{
  width: 580px;
  margin-top: 20px;
}


.nursing p{
  line-height: 25px;
  height: 100px;
}

.nursing table tr .largetextnusring{
  font-size: 30px;
  width: 160px;
  font-family: 'GmarketSansMedium';
}

.nursing h3{
  background: url(/images/place05.jpg);
  width: 580px;
  height: 350px;
  text-indent: -9999px;
}










