

hr{margin: 50px 0px 50px 0px;}

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

.interview_line{clear: both; border: 1px solid #8a7a67;}


/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/rem/rem_top.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 검색항목 */
#m_intro{
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

#m_intro h2{
  font-family: 'gmarketsansmedium';
  font-size: 35px;
}

#m_intro p{
  margin-bottom: 30px;
  padding: 15px 0;
}

#m_intro .search{
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#m_intro .search input{
  width: 650px;
  border: 3px solid #3d3326;
  font-size: 18px;
  font-family: 'gmarketsanslight';
  border-radius: none;
}

#m_intro .search button{
  text-indent: -9999px;
  width: 50px;
  background: url(/images/search_btn.jpg) no-repeat center;
  border: none;
  cursor: pointer;
}

/* 카테고리 */
a{
  text-decoration: none;
  color: white;
}


.menu_wrap{
  margin: auto;
  width: 1200px;
  margin-top: 100px;
}

.menu_wrap .dep1{
  font-size: 0;
}

.menu_wrap .dep1 > li{
  display: inline-block;
  width: calc(1200px / 2);
  background-color: #141414;
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
}

.menu_wrap .dep1 > li > a{
  display: block;
  border-left: 1px solid white;
  padding: 15px 0;
}

.menu_wrap .dep1 > li > a:hover{
  background-color: wheat;
  color: #000;
  font-family: 'GmarketsansMedium';
  transition: 0.3s;
}


.menu_wrap .dep1 > li:hover > .dep2{
  display: block;
}
