#quick{
    position: fixed;
    right: 0px;
    z-index: 9999;
}

#quick .quickcon{
    width: 80px;
    height: 401px;
}

#quick .quickcon ul li a{
    display: inline-block;
    width: 80px;
    height: 90px;
    text-indent: -9999px;
}

#quick .quickcon ul .btn1, .btn2, .btn3, .btn4{
    width: 80px;
    height: 90px;
}

#quick .quickcon ul .btn1 .login{
    width: 80px;
    height: 90px;
    background: url(../images/quick_01.jpg);
    border: none;
    text-indent: -9999px;
}

#quick .quickcon ul .btn1 .login:hover{
    background: url(../images/hover_01.jpg);
    transition: 0.3s;
}

#quick .quickcon ul .btn2{
    background: url(../images/quick_02.jpg);
}

#quick .quickcon ul .btn2:hover{
    background: url(../images/hover_02.jpg);
    transition: 0.3s;
}

#quick .quickcon ul .btn3{
    background: url(../images/quick_03.jpg);
}

#quick .quickcon ul .btn3:hover{
    background: url(../images/hover_03.jpg);
    transition: 0.3s;
}

#quick .quickcon ul .btn4{
    background: url(../images/quick_04.jpg);
}

#quick .quickcon ul .btn4:hover{
    background: url(../images/hover_04.jpg);
    transition: 0.3s;
}

#quick .quickcon ul .btn5{
    width: 80px;
    height: 41px;

    background: url(../images/quick_05.jpg);
}

#quick .quickcon ul .btn5 a{
    height: 41px;
}

/* 로그인 영역 */

#quick .quicklogin{
    width: 350px;
    height: 399px;
    position: absolute;
    right: 80px;
    top: 0px;
    border: 1px solid #ccc;
    background: #fff;
    display: flex;
}

#quick .quicklogin .loginbox{
    width: 320px;
    height: 290px;
    margin: auto;
}

#quick .quicklogin .loginbox h3{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

#quick .quicklogin .loginbox p{
    font-size: 18px;
    text-align: center;
}

#quick .quicklogin .formbox fieldset legend{
    text-indent: -9999px;
}

#quick .quicklogin .formbox fieldset .inputwrap{
    width: 260px;
    margin: auto;
}

#quick .quicklogin .formbox fieldset p{
    width: 260px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quick .quicklogin .formbox fieldset p label{
    display: inline-block;
    width: 30px;
    text-align: left;
}

#quick .quicklogin .formbox fieldset p input{
    border: 1px solid #ccc;
    display: inline-block;
    width: 210px;
    height: 30px;
}


#quick .quicklogin .formbox fieldset .bwrap{
    width: 260px;
    margin: auto;
    margin-top: 20px;
}

#quick .quicklogin .formbox fieldset .clear{
    width: 258px;
    height: 35px;
    font-size: 18px;
    background: #141414;
    border: none;
    color: #fff;
    margin-bottom: 10px;
}

#quick .quicklogin .formbox fieldset .forget{
    width: 126px;
    height: 30px;
    font-size: 15px;
    background: #141414;
    border: none;
    color: #fff;
    padding: 0px;
}