#quick{
    position: fixed;
    right: 0px;
    z-index: 9999;
}

#quick .quickcon{
    width: 80px;
    height: 401px;
}

#quick .quickcon ul li a{
    display: inline-block;
    width: 80px;
    height: 90px;
    text-indent: -9999px;
}

#quick .quickcon ul .btn1, .btn2, .btn3, .btn4{
    width: 80px;
    height: 90px;
}

#quick .quickcon ul .btn1 .login{
    width: 80px;
    height: 90px;
    background: url(/images/quick_01.jpg);
    border: none;
    text-indent: -9999px;
}

#quick .quickcon ul .btn1 .login:hover{
    background: url(/images/hover_01.jpg);
}

#quick .quickcon ul .btn2{
    background: url(/images/quick_02.jpg);
}

#quick .quickcon ul .btn2:hover{
    background: url(/images/hover_02.jpg);
}

#quick .quickcon ul .btn3{
    background: url(/images/quick_03.jpg);
}

#quick .quickcon ul .btn3:hover{
    background: url(/images/hover_03.jpg);
}

#quick .quickcon ul .btn4{
    background: url(/images/quick_04.jpg);
}

#quick .quickcon ul .btn4:hover{
    background: url(/images/hover_04.jpg);
}

#quick .quickcon ul .btn5{
    width: 80px;
    height: 41px;

    background: url(/images/quick_05.jpg);
}

#quick .quickcon ul .btn5 a{
    height: 41px;
}

/* 로그인 영역 */

#quick .quicklogin{
    width: 400px;
    height: 401px;
    position: absolute;
    right: 80px;
    top: 0px;
    border: 1px solid #ccc;
    background: #fff;
}

#quick .quicklogin .formbox{
    width: 350px;
    border: 1px solid red;
}