

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}



/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/login_mypage.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 가입 폼 영역 */
#join{
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}

#categori{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
}

#categori ul li{
  float: left;
  width: 298px;
  height: 40px;
  background-color: #8a7a67;
  text-align: center;
  line-height: 42px;
  border-right: 1px solid white;
  font-weight: bold;
}

#categori ul li a{
  text-decoration: none;
  color: white;
  width: 298px;
  height: 38px;
  display: block;
}

#categori ul li a:hover{
  background-color: #3d3326;
  transition: 0.3s;
}

.agebox{
  width: 1200px;
  height: 100%;
  margin: auto;
  padding: 100px 0 100px 0;
  margin-bottom: 200px;

}


.agebox .terms_title{
  text-align: center;
}

.agebox .terms_title h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.agebox .checkarea{
  width: 1200px;
  height: 85px;
  margin-top: 100px;
}

.agebox .checktable{
  height: 100px;
  padding: 0px;
  display: flex;
  align-items: flex-start;
  position: relative;
  bottom: 40px;
  z-index: -500;
}

.agebox .board{
  width: 1200px;
  margin-top: 50px;
  border: 1px solid #ccc;
}

.agebox .board .title{
  height: 40px;
  border-top: 3px solid #000;
  background-color: #eee;
  text-align: center;
}

.agebox .board .title  td{
  border-right: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
}

.agebox .board tr td{
  vertical-align: middle;
  text-align: center;
  height: 40px;
  font-size: 15px;
}

.agebox .board tr{
  border-bottom: 1px solid #ccc;
}

.agebox .board tr .list1{
  width: calc(1200px - 600px);
}

.agebox .board tr .list2{
  width: 200px;
}

.agebox .checktable tr td{
  width: 150px;
  height: 40px;
  vertical-align: top;
}

.agebox .checktable tr .days input{
  float: left;
  width: 210px;
  height: 30px;
  border: 1px solid #ccc;
}


.agebox .checktable tr .days .lastday{
  float: right;
}

.agebox .checkarea .search{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.agebox .checktable{
  display: flex;
  align-items: flex-start;
}

.agebox .checkarea .search button{
  float: right;
  background-color: #3d3326;
  width: 150px;
  height: 40px;
  font-size: 18px;
  color: white;
  border: none;
}

.page{
  width: 190px;
  height: 20px;
  margin: auto;
}

.page ul li{
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 50px 5px 0 0;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
}

.page ul .left{
  background: url(/images/page_left.jpg) no-repeat;
  text-indent: -9999px;
}

.page ul .right{
  background: url(/images/page_right.jpg) no-repeat;
  text-indent: -9999px;
}












