

li::marker{
  color: #8a7a67;
}
.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}


.clearfix:after {
  clear:both;
}

.interview_line{clear: both; border: 1px solid #8a7a67;}

/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/republic.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}



/* 카테고리 */
a{
  text-decoration: none;
  color: white;
}


.menu_wrap{
  margin: auto;
  width: 1200px;
  margin-top: 100px;
}

.menu_wrap .dep1, .dep2{
  display: flex;
}

.menu_wrap .dep1 li{
  justify-content: space-between;
  width: 400px;
  height: 95px;
  border-bottom: 1px solid #fff;
  background-color: #141414;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu_wrap .dep2 li{
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 95px;
  border-bottom: 1px solid #fff;
  background-color: #141414;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu_wrap .dep1 > .list01{
  line-height: 70px;
}

.menu_wrap .dep2 > .list06{
  line-height: 70px;
}

.menu_wrap .dep1 > li > a{
  display: block;
  border-left: 1px solid white;
  padding: 15px 0;
  height: 70px;
}

.menu_wrap .dep1 > li > a:hover{
  background-color: wheat;
  color: #000;
  font-family: 'GmarketsansMedium';
  transition: 0.3s;
}

.menu_wrap .dep2 > li > a{
  display: block;
  border-left: 1px solid white;
  padding: 15px 0;
  height: 70px;
}

.menu_wrap .dep2 > li > a:hover{
  background-color: wheat;
  color: #000;
  font-family: 'GmarketsansMedium';
  transition: 0.3s;
}





/* 정구호 시작 */
#museum1{
  width: 1200px;
  margin: auto;
  padding-top: 100px;
  clear: both;
}

#museum1 .introbox{
  margin-top: 50px;
}

#museum1 h2{
  font-family: 'Gmarketsansmedium';
}


/* jung page */
#jung{
  clear: both;
  background: url(/images/jung/jung_back.png) no-repeat;
  margin-top: 150px;
  width: 100%;
  height: 873px;
}

#jung .title{
  width: 1200px;
  margin: auto;
}

#jung .title h3{
  background: url(/images/jung/jung_title_w.png) no-repeat;
  height: 200px;
  width: 700px;
  margin-top: 80px;
  float: right;
  text-indent: -9999px;
}

#jung .title p{
  clear: both;
  color: white;
  width: 700px;
  float: right;
  padding: 20px 0px;
}

#jung .title .prize{
  color: white;
  clear: both;
  width: 700px;
  float: right;
  padding: 30px 0;
  line-height: 35px;
  font-weight: bold;
}


