


li::marker{color: #8a7a67;}

.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}

.clearfix:after {clear:both;}

hr{margin: 50px 0 50px 0;}

/* 메인이미지 영역 */
#title{
  width: 100%;
  background: url(/images/old_top.jpg);
  background-size: cover;
  height: 328px;
  position: relative;
}


#title .title_text{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

#title .title_text h3{
  font-size: 50px;
}


/* 카테고리버튼 */

a{
  text-decoration: none;
  color: white;
}

/* 메인 시작 */

#study_intro{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
}

#study_intro > h3{
  font-size: 2rem;
  font-weight: bold;
}

#activity > h3{
  font-size: 2rem;
  font-weight: bold;
}


#study_intro .slider div{
  width: 1200px;
}


#study_intro .intro_text{
  float: left;
  line-height: 25px;
}

.categori01, .categori02, #activity, #question{
  width: 1200px;
  margin: auto;
}

#study_intro .categori01{
  display: flex;
  height: 163px;
  justify-content: space-between;
  padding-top: 100px;
  margin-right: 14px;
}

#study_intro .categori02{
  display: flex;
}


#study_intro .categori01 .no1, .no2, .no3, .no4{
  width: 280px;
  height: 163px;
  overflow: hidden;
  margin-bottom: 20px;
}

#study_intro .textbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#study_intro .textbox p{
  width: 268px;
  padding: 5px;
  font-weight: bold;
}

#study_intro .textbox2{
  display: flex;
}

#study_intro .textbox2 p{
  width: 268px;
  padding: 5px;
  font-weight: bold;
  margin-right: 27px;
}

#study_intro .categori02 .no5, .no6, .no7{
  width: 280px;
  height: 163px;
  overflow: hidden;
  margin: 0px 27px 0px 0px;
}

/* no1 */
#study_intro .categori01 .no1 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori01 .no1 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}


/* no2 */
#study_intro .categori01 .no2 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori01 .no2 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}


/* no3 */
#study_intro .categori01 .no3 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori01 .no3 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}

/* no4 */
#study_intro .categori01 .no4 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori01 .no4 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}

/* no5 */
#study_intro .categori02 .no5 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori02 .no5 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}

/* no6 */
#study_intro .categori02 .no6 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori02 .no6 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}

/* no7 */
#study_intro .categori02 .no7 img{
  width: 280px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

#study_intro .categori02 .no7 img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
}

/* 연구활동 */

#activity{
  margin: auto;
  margin-top: 80px;
  position: relative;
}

#activity .act01, .act02{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#activity .act01_txt{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 385px;
}

#activity .act02_txt{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 6px;
}

#activity .act01_txt > .baek, .totem{
  width: 590px;
  height: 353px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 25px;
}

#activity .act02_txt p{
  width: 590px;
  height: 353px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 25px;
}

#question{
  margin-bottom: 150px;
}

#question .qna1, .qna2, .qna3, .qna4{
  padding: 30px 0 30px 0;
}

#question .qna1 h3{
  padding: 20px;
  background-color: #3d3326;
  color: white;
}

#question .qna1 p{
  background: #fff;
  padding: 20px;
  border: 1px solid #3d3326;
}

#question .qna2 h3{
  padding: 20px;
  background-color: #3d3326;
  color: white;
}

#question .qna2 p{
  background: #fff;
  padding: 20px;
  border: 1px solid #3d3326;
}

#question .qna3 h3{
  padding: 20px;
  background-color: #3d3326;
  color: white;
}

#question .qna3 p{
  background: #fff;
  padding: 20px;
  border: 1px solid #3d3326;
}

#question .qna4 h3{
  padding: 20px;
  background-color: #3d3326;
  color: white;
}

#question .qna4 p{
  background: #fff;
  padding: 20px;
  border: 1px solid #3d3326;
}


