body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* header */

header{
  width: 100vw;
  height: 15vh;
  background: #000;
}

header nav{
  width: 100vw;
  position: relative;
}

header nav #top{
 display: flex;
 justify-content: space-around;
 padding: 15px 0px 15px 0px;
}

header nav #top .fas{
  color: #fff;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav #top h2{
  text-indent: -9999px;
}


header nav .menu{
  border: 1px solid red;
  padding: 0;
  position: absolute;
  background: beige;
  width: 100vw;
  top: 70px;
  z-index: 500;
}

header nav .menu li{
  font-size: 25px;
  border: 1px solid red;
  padding: 20px;
}

header nav .menu li a{
  color: black;
  text-decoration: none;
}

/* main */

main{
  width: 100vw;
  position: relative;
}

#mainslider .slider{
  position: absolute;
  z-index: 9999px;
}

#mainslider .slider div{
  width: 100vw;
  position: absolute;
}


